{% extends 'global/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1 class="h1-produto">Produtos</h1>

    <div class="produto-grid">
        {% for produto in produto %}
        <div class="produto-item">
            <h3>{{ produto.nome_produto }}</h3>
            <p><strong>Código:</strong> {{ produto.cod_produto }}</p>
            <p><strong>Preço:</strong> R${{ produto.preco }}</p>
            <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <p><strong>Quantidade em Estoque:</strong> {{ produto.qntd_estoque }}</p>
            <p><strong>Categoria:</strong>{% for categoria in produto.categorias.all %} 
                {{ categoria.nome_categoria }}{% if not forloop.last %}, 
                    {% endif %}
                {% endfor %}
            </p>
            <p><strong>Fornecedor:</strong> {{ produto.fornecedor }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="btn-grid">
        <a href="{% url 'cadastrar_categoria' %}" class="btn">Cadastrar     Categoria</a>
        <a href="{% url 'listar_categorias' %}" class="btn">Listar Categorias</a>
        <a href="{% url 'cadastrar_fornecedores' %}" class="btn">Cadastrar  Fornecedor</a>
        <a href="{% url 'listar_fornecedores' %}" class="btn">Listar    Fornecedores</a>
        <a href="{% url 'cadastrar_produto' %}" class="btn">Cadastrar Produto</a>
    </div>  

{% endblock  %}